<launch>
  <machine name="robot" address="$(env ROBOT)" env-loader="$(env ENV_LOADER)" user="jfstepha" timeout="240"/>

  <!-- By default, we do not start a database (it can be large) -->
  <arg name="db" default="true" />

  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />

   <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find george)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>
 
    <node pkg="tf" type="static_transform_publisher" name="virtual_joint_broadcaster_0" args="0 0 0 0 0 0 odom_combined base_link 100" />

  <include file="$(find george)/launch/rqt_george.launch"/>

  <include file="$(find george)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

    <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find george)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <node machine="robot" ns="/joint0_position_controller" name="follow_joint_trajectory" pkg="george" type="follow_joint_trajectory_rleg.py" output="screen"/>
  <node machine="robot" ns="/joint1_position_controller" name="follow_joint_trajectory" pkg="george" type="follow_joint_trajectory_lleg.py" output="screen"/>
  <node machine="robot" ns="/joint2_position_controller" name="follow_joint_trajectory" pkg="george" type="follow_joint_trajectory_larm.py" output="screen"/>
  <node machine="robot" ns="/joint3_position_controller" name="follow_joint_trajectory" pkg="george" type="follow_joint_trajectory_rarm.py" output="screen"/>
  
  <!-- If database loading was enabled, start mongodb as well -->
  <include file="$(find george)/launch/default_warehouse_db.launch" if="$(arg db)"/>

</launch>