<launch>
    <machine name="robot" address="$(env ROBOT)" env-loader="$(env ENV_LOADER)" user="jfstepha" timeout="240"/>
    <!-- see http://www.ros.org/wiki/roslaunch/XML/machine -->
	<include file="$(find george)/launch/rqt_george_noser.launch" />
	<node machine="robot" pkg="george" type="serial_node.py" name="serial_node" output="screen"/>
</launch>